/* mission.css */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    position: relative;
}

.slider-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-direction: column;
    height: 300vh; /* Set the total height of all slides (3 slides x 100%) */
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slidernav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    z-index: 1;
}

.slidernav a {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
}

.slidernav a:hover {
    background-color: black;
}

.slidernav a.active {
    background-color: black;
}
.scroll-locked {
    overflow: hidden;
    z-index: 1;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: 0; 
}

.slide h2 {
    z-index: 1;
}
